body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.25em;
  color: rgb(30, 61, 113);
  text-align: center;
}

h1 {
  font-size: 1.25em;
}

h2 {
  font-size: 1em;
}

a:link,
a:visited,
a:hover,
a:visited {
  color: rgb(30, 61, 113);
  color: rgb(216, 57, 99);
  text-decoration: none;
}

.logo {
  width: 35vw;
  pointer-events: none;
}

p {
  position: relative;
  top: -125px;
}